dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width">
    <title>Tochka</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="img/home/wallet.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/home/wallet.png" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <section class="first-block">
        <div class="first-block_left">
          <h2 class="first-title">Тестовое задание</h2>
          <p>На экранах до 1024px показывать CSS-анимацию. При клике на кнопку плавный scroll до следующего блока.</p>
          <div class="about-wrapper"><a href="#last-block" id="linkAbout">
              <div class="about">Подробнее</div></a></div>
        </div>
        <div class="first-block_right"><a class="wallet" href=""><img class="wallet_img" src="img/home/wallet.png" alt="wallet" width="300"><img class="splash_img" src="img/home/splash.png" alt="splash" width="700"></a></div>
      </section>
      <div class="gray-line"></div>
      <section class="last-block" id="last-block">
        <h2 class="last-title">Колонки с иконками</h2>
        <div class="icons-wrapper"><a class="icons-link" href="#"><img src="img/icons/icon_1.svg" alt="icon 1">
            <div class="icons-text">Банковские карты</div></a><a class="icons-link" href="#"><img src="img/icons/icon_2.svg" alt="icon 2">
            <div class="icons-text">Мессенджер</div></a><a class="icons-link" href="#"><img src="img/icons/icon_3.svg" alt="icon 3">
            <div class="icons-text">Интернет-банк</div></a><a class="icons-link" href="#"><img src="img/icons/icon_4.svg" alt="icon 4">
            <div class="icons-text">Электронный кошелёк</div></a><a class="icons-link" href="#"><img src="img/icons/icon_5.svg" alt="icon 5">
            <div class="icons-text">Баланс телефона</div></a>
        </div>
      </section>
    </main>
    <script src="scripts/common.min.js"></script>
  </body>
</html>

src/pug/index.pug
doctype html
html(lang='ru')
    include partials/head.pug
    body
        main
            section.first-block
                .first-block_left
                    h2.first-title Тестовое задание
                    p На экранах до 1024px показывать CSS-анимацию. При клике на кнопку плавный scroll до следующего блока.
                    .about-wrapper
                        a(href='#last-block')#linkAbout
                            .about Подробнее
                .first-block_right
                    a(href='').wallet
                        img(src='img/home/wallet.png' alt='wallet' width='300').wallet_img
                        img(src='img/home/splash.png' alt='splash' width='700').splash_img
            .gray-line
            section.last-block#last-block
                h2.last-title Колонки с иконками
                .icons-wrapper
                    - var list = ['','Банковские карты','Мессенджер','Интернет-банк','Электронный кошелёк','Баланс телефона']
                    - for(var i = 1;i < 6;i++)
                        a(href='#').icons-link
                            img(src='img/icons/icon_' + i + '.svg' alt='icon ' + i + '')
                            .icons-text= list[i]
            
        script(src='scripts/common.min.js')
    
